<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <title>Welcome, it's Batu!</title>
            {{ encore_entry_link_tags('app') }}
        </head>
    <body>
        <div class="vh-100 vw-100 d-flex justify-content-center align-items-center flex-column" id="welcome-container">
            <h1>WELCOME</h1>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary">
                    <h2>Login</h2>
                </button>
                <button class="btn btn-secondary">
                    <h2>Signin</h2>
                </button>
            </div>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
