.footer-icon {
  height: 25px;
}

#footer-container {
  border-top: solid 2px $first-color;
  border-radius: 5px 5px 0 0;
  opacity: 85%;
  width: 100% !important;
  height: 45px;
  position: fixed;
  bottom: 0;
  background-color: white;
}
