//Colors
$first-color: #0976C6;
$second-color: #ccffd9;
$third-color: #398090;
$logo-font: "Comfortaa", "Open-Sans","Roboto";

#main-content {
    margin: 4vw 6vw 45px 6vw;
}

#viewport-error-main-content {
    width: 100vw;
    height: 100vh;
}

.success-button {
    background-color: $second-color;
    color: $third-color;
    font-weight: bold;
    width: 100%;
}

.hover-success-button:hover {
    background-color: $second-color;
    color: $third-color;
    cursor: pointer;
}

.text-batu {
    font-family: $logo-font;
    font-weight: bold;
}

.ml-20px {
    margin-left: 20px;
}

.mr-20px {
    margin-right: 20px;
}
