#header-container {
  width: 100% !important;
  height: 70px;
  background-color: $first-color;
  border-radius: 0 0 $button-radius $button-radius;
}

#header-title {
  font-size: 30px;
  color: white;
}

.header-icon {
  height: 25px;
  color: white;
}
