#address-autocomplete-items {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  font-size: 15px;
  overflow: hidden;
  position: absolute;
  padding: 8px 0;
}

#address-container {
  position: relative;
}
