<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="main-content">
            {% block content %}{% endblock %}
        </div>
        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
