<div id="header-container" class="container">
    <div class="row">
        <div class="col-3">
            One of three columns
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="text-center fw-bold text-batu">Batu</div>
        </div>
        <div class="col-3">
            One of three columns
        </div>
    </div>
</div>
